akka {
  stdout-loglevel = INFO # DEBUG
  loglevel = INFO # DEBUG
  log-config-on-start = on
  actor {
    debug {
      receive = on
      autoreceive = on
      lifecycle = on
      event-stream = on
      unhandled = on
    }
    # IActorRef provider with clustering support: Akka.Cluster.ClusterActorRefProvider, Akka.Cluster
    provider = cluster
    deployment {
      /ConsoleUi/CommandHandler {
        # remote = "akka.tcp://ConsoleApp@localhost:8081"
        router = consistent-hashing-pool
        nr-of-instances = 10 # max number of total routees
        cluster {
          enabled = on
          allow-local-routees = on
          # use-role = name
          max-nr-of-instances-per-node = 5
          use-role = "worker"
        }
      }
    }
  }

  remote {
    dot-netty.tcp {
      port = 0 # bound to a dynamic port assigned by the OS
      hostname = localhost
    }
  }

  cluster {
    seed-nodes = ["akka.tcp://ConsoleApp@localhost:8080"]
    roles = ["worker"]
  }
}