akka-seed {
  actorsystem = "ConsoleApp"
}

akka {
  stdout-loglevel = INFO # DEBUG
  loglevel = INFO # DEBUG
  log-config-on-start = on
  actor {
    debug {
      receive = on
      autoreceive = on
      lifecycle = on
      event-stream = on
      unhandled = on
    }
    # IActorRef provider with clustering support: Akka.Cluster.ClusterActorRefProvider, Akka.Cluster
    provider = cluster
  }

  remote {
    dot-netty.tcp {
      port = 8080
      hostname = localhost
    }
  }

  cluster {
    seed-nodes = ["akka.tcp://ConsoleApp@localhost:8080"]
    auto-down-unreachable-after = 30s # dangerous in production: can cause split brain!
  }
}